In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("DBS.csv")

In [3]:
df

     Unnamed: 0        Date    DBS      SGD
0             1   6/20/2017  20.45  1.38925
1             2   6/19/2017  20.60  1.38707
2             3   6/16/2017  20.45  1.38324
3             4   6/15/2017  20.41  1.38378
4             5   6/14/2017  20.59  1.37595
..          ...         ...    ...      ...
117         118  12/30/2016  17.09  1.44655
118         119  12/29/2016  17.13  1.44814
119         120  12/28/2016  17.22  1.45018
120         121  12/27/2016  17.19  1.44954
121         122  12/23/2016  17.14  1.44766

[122 rows x 4 columns]

In [4]:
X=df.loc[:,["SGD"]]

In [5]:
Y=df.loc[:,["DBS"]]

In [6]:
from sklearn import linear_model

In [8]:
model=linear_model.LinearRegression()

In [9]:
model.fit(X,Y)

LinearRegression()

In [10]:
model.coef_

array([[-50.60094302]])

In [11]:
model.intercept_

array([90.22858515])

In [12]:
pred = model.predict(X)

In [13]:
from sklearn.metrics import mean_squared_error

In [14]:
rmse=mean_squared_error(Y,pred)**0.5

In [15]:
rmse

0.6283698867042165

In [16]:
import joblib

In [17]:
joblib.dump(model,"regression")

['regression']

In [18]:
from sklearn import tree

In [19]:
model = tree.DecisionTreeRegressor()

In [20]:
model.fit(X,Y)

DecisionTreeRegressor()

In [21]:
pred = model.predict(X)

In [22]:
rmse=mean_squared_error(Y,pred)**0.5

In [23]:
rmse

0.16306113708124784

In [24]:
joblib.dump(model,"decision_tree")

['decision_tree']